<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<div class="container" style="margin-top:5rem;width:60%;height: 83vh;">
    <h1>Sign Up</h1>
    
    <form method="POST" action="/register" >
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Username">
          
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input type="text" class="form-control" id="email" name="email" placeholder="E-mail">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>


<%- include("../partials/footer") %>
