<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #0077b6;">

  <div class="container">
    <a class="navbar-brand" href="/"><i style="margin-right: 15px;" class="fas fa-shopping-bag"></i>Shopping Cart</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/products/new">New</a>
        </li>
      </ul>
      <div class="d-flex">
        <a href="#" class="btn"><i class="fas fa-shopping-cart"></i></a>
        <a href="#" class="btn btn-light">Login</a>
      </div>

    </div>
  </div>
</nav>