.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  margin: 10px;
}

.card img {
  padding: 16px;
}