.products {
  margin-top: 5rem;
}

.products .card {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  margin: 10px auto;
  width: 90%;
  height: 95%;
}

.products .card .btn {
  background-color: none;
  border: 2.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.card img {
  padding: 16px;
}

/* .btn {
  background-color: #0077b6;
  color: white;
} */
.navbar-brand {
  font-family: "Kaushan Script", cursive;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

/* .navbar-nav {
  width: 100%;
  font-size: 18px;
} */

.d-flex button {
  border: none;
  font-size: 18px;
}

.d-flex i {
  font-size: 24px;
}

.navbar {
  box-shadow: 0px 1px 3px black;
}

#landing-page {
  /* background-color: red; */
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1557821552-17105176677c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80");
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-page a {
  display: block;
  padding: 10px 20px;
}

#heading {
  width: 98%;
  background-color: #e9ecef;
  padding: 16px;
  margin: 10px auto;
  border-radius: 10px;
}